<div class="card" style="width: 18rem; margin-top: 30px; margin-left: 50px; display: inline-block">
  <img src="assets/images/Captura.JPG" class="card-img-top" alt="agencia pepsi villa nueva" style="height: 150px;">
  <div class="card-body">
    <h5 class="card-title">Agencia Pepsi Villa Nueva</h5>
  </div>
</div>

<div class="card" style="width: 18rem; margin-top: 30px; margin-left: 30px; display: inline-block;">
  <img src="assets/images/captura2.JPG" class="card-img-top" alt="agencia pepsi Teculután" style="height: 150px;">
  <div class="card-body">
    <h5 class="card-title">Agenica Pepsi Teculután</h5>
  </div>
</div>

<div class="card" style="width: 18rem; margin-top: 30px; margin-left: 30px; display: inline-block;">
  <img src="assets/images/captura5.JPG" class="card-img-top" alt="agencia pepsi escuintla" style="height: 150px;">
  <div class="card-body">
    <h5 class="card-title">Agencia Pepsi Escuintla</h5>
  </div>
</div>

<div class="card" style="width: 18rem; margin-top: 30px; margin-left: 30px; display: inline-block;">
  <img src="assets/images/captura3.JPG" class="card-img-top" alt="agencia pepsi salama" style="height: 150px;">
  <div class="card-body">
    <h5 class="card-title">Agencia Pepsi Salama</h5>
  </div>
</div>

