<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-grid gap-3 d-md-flex justify-content-md-end">

        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              MATERIAS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <div *ngFor="let cate of categoriaModelGet">
                <li>
                  <a class="btn dropdown-item" role="button"
                    (click)="materias(cate.nombreCategoria)" (click)="refresh()">{{cate.nombreCategoria}}
                  </a>
                </li>
              </div>
            </ul>
          </div>

          <!-- <a class="nav-link" role="button" data-toggle="collapse" aria-current="page" (click)="materias()">MATERIAS</a> -->
        </li>

        <li class="nav-item">
          <a class="nav-link" role="button" data-toggle="collapse" (click)="clases()">CLASES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" data-toggle="collapse" (click)="ayuda()">AYUDA</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
