.navbar {
  background-color: #121F3D;
}

.nav-item {
  background-color: #1D3B62;
  border-radius: 25px;
}

a {
  color: #BECDE3;
}

#dropdownMenuButton1 {
  color: #BECDE3;
  background-color: #1D3B62;
  border-radius: 25px;
}
